html, body {
	margin:0 !important;
	padding: 0 !important;
    max-width: 100%;
    overflow-x: hidden;
    background-color: #231f20;
}
 
h1 {
	font-family: 'Dosis', sans-serif;
	font-size: 60px;
	text-align: center;
	color: #00b6c1;
	text-transform: uppercase;
	letter-spacing: 1px;
}
 
p {
	font-family: 'Dosis', sans-serif;
	font-size: 18px;
	text-align: left;
	color: white;
	letter-spacing: 1px; 
}
 
a{
	text-decoration: none !important;
} 

.container-fluid {
	padding-right: 0px;
	padding-left: 0px;
}
 
.img-row-1, .img-row-2, .img-row-3, .img-row-4 {
	padding-top: 4px;
	text-align: center;
}
 
.img-responsive {
	display: inline-block;
}
 
.navbar-inverse .navbar-nav>li>a {
	font-family: 'Dosis', sans-serif;
	font-size: 16px;
	text-align: right;
	color: white;
	text-transform: uppercase;
	-webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    -ms-transition: all .5s ease;
	transition: all .5s ease;
	letter-spacing: 1px;
	outline: none;
}
 
.navbar {
	padding: 0px 0;
}
 
.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus {
	color: #00b6c1;
	background-color: none;
}
 
.navbar-nav {
	float: right;
	margin-top: 70px;
	margin-right: 60px;
}
 
.navbar-inverse {
	background-color: #231f20;
	border-color: #FFFFFF;
}
 
.navbar-brand {
	background-color: #231f20;
    text-align: center;
    height: 120px;
    width: 450px;
}
 
.navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:focus {
	color: none;
	background-color: none;
	outline: none;
}
 
.navbar-brand img {
    max-width: 160px;
}
 
#page-scroll{
	margin-top: 63px;
}
 
.about {
	height: 100%;
	background-color: #f68b1e;
	margin-top: 120px;
	border-bottom: #FFFFFF solid 1px;
}
 
.about-text-box {
	background-color: #f68b1e;
	padding-right: 14%;
	padding-top: 9%;
	padding-bottom: 9%;	
	font-family: 'Dosis', sans-serif;
	font-size: 17px;
	text-align: left;
}
 
.about-img-box {
	background-color: #231f20;
	padding-top: 10%;
	height: 598px;
	text-align: center;
}
 
.highlight {
	color: #231f20;
}
 
.capitalise {
	text-transform: uppercase;	
}
 
.about-img img {
	width: 65%;
}
 
.services {
	border-bottom: #FFFFFF solid 1px;
	height: 100%;
	padding-top: 150px;
}
 
.services-title{
	text-align: center;
	color: none;	
	padding-top: 1.5%;
	padding-bottom: 3.5%;	
}
 
.services-content {
	padding-top: .5%;
	padding-bottom: 10%;
	text-align: center;
}
 
.services-text {
	text-align: center;	
}
 
.services-text p {
	text-align: center;
	padding-top: 13%;
}
 
.tipper {
	width: 30%;
}

.shovel {
	width: 14%;
}
 
.exc {
	width: 30%;
	padding-top: 2%;
}
 
.our-work {
	height: 100%;
	padding-top: 120px;
	border-bottom: #FFFFFF solid 1px;
}
 
.work-title {
	text-align: center;
	background-color: none;	
	padding-top: 1.5%;
	padding-bottom: 1.5%;
}
 
.work-img {
	display: inline-block;
	padding: 0;

}
 
.gallery-img {
	width: 19vw;
	-webkit-backface-visibility: hidden;
	-webkit-transform: translateZ(0) scale(1.0, 1.0);   
}
 
.gallery-img:hover { 
	display: inline-block;
	opacity: .5;
	padding: 0;
	-webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
    -o-transition: all .5s ease-out;
    -ms-transition: all .5s ease-out;
    transition: all .5s ease-out;
}

.contact {
	background-color: none;
	background-image: url('img/claw.png');
	background-size: 440px;
    background-repeat: no-repeat;
    background-position: right top;
	height: 100%;
	padding-top: 40px;
}
 
.contact-title{
	padding-top: 1.5%;	
	padding-bottom: 1.5%;	
}
 
 
.contact-content {
	padding-bottom: 6%;
	padding-top: 2%;	
}
 
.claw {
	text-align: center;
	display: inline-block;
	padding-left: 17%
}
 
.claw img{
	width: 25%;
}
 
.name {
	color: #f68b1e;
	font-size: 32px;
}
 
.position {
	font-size: 27px;
	color: white;
}
 
.abn {
	line-height: 0px;
}
 
.footer {
	background-color: #f68b1e;
	height: 30px;
}
.footer p {
	font-size: 11px;
}
 
.MJP p {
	text-align: left;
	margin-top: 7px;
}
 
.aurora p {
	text-align: right;
	margin-top: 7px;
 
}
 
.contact-content p a {
	color: white;
	text-decoration: none;
}
 
.aurora p a {
	color: white;
	text-decoration: none;
}

.aurora p a:hover {
	color: black;
	text-decoration: none;
}

i.ss-icon {
	color: #f68b1e;
	font-size: 25px;
	line-height: 25px;
	text-align: left;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    -ms-transition: all .5s ease;
    transition: all .5s ease;
}
 
.ss-icon:hover {
    text-decoration: none !important;
    color: white;
}
 
.close:hover{
	color: #f68b1e !important;
	opacity: 1;
}
 
.prev, .next {
	font-family: 'Dosis', sans-serif !important;
	font-size: 70px !important; 
	text-shadow: none !important;
	background: none !important;
	background: none !important;
	width: 34px !important;
	height: 34px !important;
	line-height: 0px;
	margin-top: 0px;
}
 
.prev:hover, .next:hover {
    color: #00b6c1 !important;
}
 
.blueimp-gallery>.slides>.slide>.slide-content {
	max-height: 90%;
}

.blueimp-gallery>.prev, .blueimp-gallery>.next{
	border: none !important;
}

.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
	background-color: #f68b1e;
}

.navbar-inverse .navbar-toggle {
	border-color: #231f20;
	background-color: #231f20;
	margin-right: 3.5%;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
border-color: #231f20;
}


@media (max-width: 568px){

body{
	margin-top: 190px;
}	

.navbar-nav {
	margin-top: 30px;
	margin-right: 20px;
}

.navbar-brand {
    width: 100%;
}

.about{
	margin-top: 170px;
}

.about-text-box{
	padding-left: 7%;
	padding-right: 7%;
}

.services{
	padding-top: 160px;
}

.services-text{
	padding-top: 50px;
	padding-left: 7%;
	padding-right: 7%;
}

.our-work{
	padding-top: 170px !important;
}

.gallery-img {
	width: 85%;
}

.contact{
	padding-top: 150px !important;
	background-size: 145px;
}

.contact-text{
	padding-left: 10%;
	padding-right: 7%;
}

.contact-text p{
	font-size: 16px;
}

.name {
	font-size: 32px !important;
}

#phone{
	padding-left: 6%;
	padding-top: 8%;
}

#email{
	padding-left: 6%;
}

.address-1 {
	padding-left: 6%;
}

.MJP p{
	text-align: center !important;
}
.aurora p{
	text-align: center !important;
	margin-top: 13px;
}

}

@media (min-width: 568px) and (max-width: 767px) {

.about{
	margin-top: 120px !important;
}

.gallery-img {
	width: 50%;
	padding-top: 2px !important;
} 

.about-text-box{
	padding-left: 14%;
	padding-top: 20%;
}

.tipper {
	width: 45%;
}
 
.shovel {
	width: 25%;
}
 
.exc {
	width: 45%;
}

.contact{
	background-size: 240px !important;
	padding-top: 130px !important;
}

.contact-text{
	padding-left: 16%;
}

#phone{
	padding-left: 14%;
	padding-top: 8%;
}

#email{
	padding-left: 14%;
}

.address-1{
	padding-left: 14%;
}

}

@media (min-width: 768px) and (max-width: 992px) { 	

.navbar-inverse .navbar-brand {
	width: 322px !important;
}

.about{
	margin-top: 120px !important;
	padding-top: 65px;
	height: 550px;	
}

.about-img-box{
	visibility: hidden;
}

.gallery-img {
	width: 19vw;
} 

.about-text-box{
	padding-left: 20%;
	padding-right: 20%;
}

.services{
	padding-top: 140px;
}

.services-text{
	padding-bottom: 0% !important;
	padding-top: 10% !important;
}

.services-text p {
	padding-top: 5% !important;
}

.tipper {
	width: 30%;
}
 
.shovel {
	width: 18%;
}
 
.exc {
	width: 30%;
}

.contact{
	background-size: 340px !important;
	padding-top: 130px !important;
}

.contact-text{
	padding-left: 16%;
}

#phone{
	padding-left: 14%;
	padding-top: 8%;
}

#email{
	padding-left: 14%;
}

.address-1{
	padding-left: 14%;
}


.MJP p{
	text-align: center;
}
.aurora p{
	text-align: center;
	margin-top: 13px;
}

}

@media (min-width: 1800px) { 

p {
	font-size: 18px !important;
}

.about-img-box{
	height: 710px !important;
}

}