html,body {
	margin:0 !important;
	padding: 0;
    max-width: 100%;
    overflow-x: hidden;
    background-color: black;
}

h1 {
	font-family: 'PT Sans', sans-serif;
	font-size: 53px;
	text-align: center;
	color: white;
	text-transform: uppercase;
	font-weight: 700; 
}

p {
	font-family: 'PT Sans', sans-serif;
	font-size: 18px;
	text-align: left;
	color: white;
	font-weight: 400; 
}

.container-fluid {
	padding-right: 0px;
	padding-left: 0px;
}

.img-row-1, .img-row-2 {
	padding-top: 4px;
	text-align: center;
}

.img-responsive {
	display: inline-block;
}

.nav a {
	font-family: 'PT Sans', sans-serif;
	font-size: 13px;
	text-align: right;
	color: white;
	text-transform: uppercase;
	-webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    -ms-transition: all .5s ease;
    transition: all .5s ease;
}

.nav a:hover {
	color: #F7901E;
}

.nav>li>a:hover, .nav>li>a:focus {
	text-decoration: none;
	background-color: #FFF;
}

.navbar-nav {
	float: right;
	margin-top: 70px;
	margin-right: 60px;
}

.navbar{
	margin-bottom: 0px !important;
}


.navbar .nav {
    margin: 0 15px 0 0 auto;
}

.navbar-inner {
	min-height: 45px;
    background-color: #E30421;
    background-image: none;
    border-color: none;
    text-align: center;
    padding-top: 1em;
    box-shadow: none;
}

.navbar-brand {
    background-color: white;
    text-align: center;
    max-width: 120%;
    height: 120px;
}

.navbar-static-top {
	border-width: 0 0 0px !important;
}

.navbar-brand img {
    max-width: 67%;
    padding-top: 9px !important;
    padding-bottom: 8px;
	padding-left: 18%;
	padding-right: 13%;
}

.about {
	padding: 0px !important;
	background-color: #F7901E;
}

.about-text-box {
	background-color: #F7901E;
	padding-right: 14%;
	padding-top: 7%;
	padding-bottom: 4%;	
	font-family: 'PT Sans', sans-serif;
	font-size: 17px;
	text-align: left;
}

.about-img-box {
	background-color: #FFFFFF;
	padding-left: 6.06%;
	padding-right: 6.06%;
	padding-top: 11.5%;
	padding-bottom: 11.7%;	
	text-align: center;
}

.highlight {
	color: #000000;
}

.capitalise {
	text-transform: uppercase;	
}

.about-img img {
	width: 75%;
}

.services {
	background-color: #000000;
	padding-top: 3%;
}

.services-title{
	text-align: center;
	background-color: #000000;	
	padding-top: 1.5%;
	padding-bottom: 1.5%;	
}

.services-content {
	padding-top: .5%;
	padding-bottom: 6.5%;
	text-align: center;
}

.services-text {
	text-align: center;	
}

.services-text p {
	text-align: center;
	padding-top: 13%;
}

.tipper {
	width: 60%;
}

.shovel {
	width: 28%;
}

.exc {
	width: 60%;
}

.work {
	padding-top: 3%;
	background-color: #000000;
}

.work-title {
	text-align: center;
	background-color: #F7901E;	
	padding-top: 1.5%;
	padding-bottom: 1.5%;
}

.work-content {
	background-color: black;
}

.work-img img {
	width: 19.5%;
}

.contact {
	background-color: #000000;
	background-image: url('img/claw.png');
	background-size: 440px;
    background-repeat: no-repeat;
    background-position: right top;
	padding-top: 3%;
}

.contact-title{
	padding-top: 1.5%;	
	padding-bottom: 1.5%;	
}


.contact-content {
	padding-bottom: 6%;
	padding-top: 2%;	
}

.claw {
	text-align: center;
	display: inline-block;
	padding-left: 17%
}

.claw img{
	width: 25%;
}

.name {
	color: #F7901E;
	font-size: 32px;
}

.position {
	font-size: 27px;
	color: white;
}

.abn {
	line-height: 0px;
}

.address-2 {
	line-height: 0px;
}

.footer {
	background-color: #F7901E;
	height: 30px;
}
.footer p {
	font-size: 13px;
}

.MJP p {
	text-align: left;
	margin-top: 7px;
}

.aurora p {
	text-align: right;
	margin-top: 7px;

}

.contact-content p a {
	color: white;
	text-decoration: none;
}

i.ss-icon {
	color: #F7901E;
	font-size: 35px;
	line-height: 25px;
	text-align: left;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    -ms-transition: all .5s ease;
    transition: all .5s ease;
}

.ss-icon:hover {
    text-decoration: none !important;
    color: white;
}